body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, legend, img, table, button {
    font-family: Arial,Verdana,"宋体";
    font-size: 12px;
    margin: 0;
    padding: 0;
}
body {
	position: relative;
}
h1 {
	color:#fff;
	padding:5px 0 0 10px;
	font-size:15px;
}
div, img {
    border: 0 none;
}
ul li, ol li {
    list-style: none outside none;
}
a {
    color: #033D61;
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    color: #FF3300;
}
.clear, hr, .txt_list li, .title {
    clear: both;
}
#head {
	height:32px;
}
#main {
    background: url("../images/bg_y.gif") repeat-y scroll -2920px 0;
	position:relative;
}
#left {
    background: url("../images/bg.gif") no-repeat scroll 1px -1467px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}
#right {
    margin-left: 150px;
}
#left h2 {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin-top: 3px;
    padding-left: 22px;
}
#browser {
	width: 135px;
    border: 0 solid #AA4400;
    overflow: auto;
    padding-top: 8px;
}
.tree ul {
    display: none;
    list-style: none outside none;
    margin-left: 1px;
    margin-top: 0;
    padding-left: 16px;
}
.tree > ul {
    padding-left: 5px;
}
.tree li {
    list-style: none outside none;
    margin: 0;
    padding: 1px 0;
}
.tree .itemarea {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    padding: 2px 8px 2px 0;
}
.tree .hitarea, .tree .bitarea {
    background: url("../images/tree.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
.tree .bitarea {
    background-position: -30px 0;
}
.tree .txtarea {
    vertical-align: middle;
}
.tree .active {
    background-color: #DDECFE;
    border-color: #83AADA;
}
#frame_container {
    border: 0 solid #AA4400;
    overflow: hidden;
    width: 100%;
	margin-top:10px;
}
.crumb {
	margin:5px 0;
}
#position {
    background: url("../images/bg.gif") no-repeat scroll 0 -328px transparent;
    height: 16px;
    line-height: 16px;
    margin-left: 8px;
    padding-left: 18px;
}
#position a {
    background: url("../images/bg.gif") no-repeat scroll right -840px transparent;
    color: #008ACC;
    margin-right: 6px;
    padding: 0 12px 0 0;
}
#search {
	padding:5px;
	margin:5px 8px;
}
#search .query{
	line-height:18px;
}
.table_list {
	margin: 5px 8px;
}
.table_list td, .table_list th {
	padding-left: 4px;
}
.table_list th {
    background: url("../images/bg_x.gif") repeat-x scroll 0 -110px #FFFFFF;
    border-color: #D0E6EC;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #033D61;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
}
th.l {
    border-left: 1px solid #D0E6EC;
}
th.r {
    border-right: 1px solid #D0E6EC;
}
.table_list td {
    border-bottom: 1px dotted #D7E3F2;
    height: 28px;
}
.t_d {
    text-align: center;
}
.t_c {
    text-align: center;
}
.t_r {
    padding-right: 2px;
    text-align: right;
}
.f_r {
    float: right;
    margin-right: 15px;
}
.f_l {
	float: left;
}
tr.over td {
    background-color: #FFFDDD;
}
.table_foot {
    background: none repeat scroll 0 0 #F3F9FA;
    height: 20px;
    padding: 6px 8px;
}
input, textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FBFBFB;
    border-color: #888888 #DDDDDD #DDDDDD #888888;
    border-style: solid;
    border-width: 1px;
    font-family: Tahoma,Verdana,"宋体";
    font-size: 12px;
    padding: 3px;
}
input[type="file"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: white;
    border-style: none;
    border-width: 0px;
    font-family: Tahoma,Verdana,"宋体";
    font-size: 12px;
    padding: 3px;
    position: relative;
    top: 77px;
}
#iconFile {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: white;
    border-style: none;
    border-width: 0px;
    font-family: Tahoma,Verdana,"宋体";
    font-size: 12px;
    padding: 3px;
    position: relative;
    top: 37px;
}
textarea {
    line-height: 18px;
    overflow: auto;
    padding: 3px;
}
input.input_focus {
    border-color: #00A5D5;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #00A5D5;
}

.button {
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    margin: 0 6px 0 0;
    padding: 0 3px 3px;
    text-align: center;
    vertical-align: middle;
}
.button {
    background: url("../images/bg_x.gif") repeat-x scroll 0 -27px transparent;
    border: 1px solid #94C5E5;
    color: #033D61;
}
.button:hover {
    background-position: 0 -323px;
    border: 1px solid #FDCD99;
    color: #FF6600;
}
.table_form {
	margin-left:8px;
}
.table_form td {
    padding: 4px 2px;
	 padding-left: 2px;
    text-align: left;
}
.table_form th {
    color: #033D61;
    font-weight: normal;
	  padding-right: 2px;
    text-align: right;
}
.c_red {
    color: #DF0000;
}
.table_form label {
    color: #033D61;
}


.toast-container {
	width: 280px;
	z-index: 9999;
}


* html .toast-container {
	position: absolute;
}

.toast-item {
	height: auto;
	background: #333;
    opacity: 0.9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: lucida Grande;
	font-size: 14px;
	border: 2px solid #999;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    background:url(../images/close.gif);
    width:22px;
    height:22px;
    position: absolute;
    top:7px;
    right:7px;
}

.toast-item-image {
    width:32px;
    height: 32px;
    margin-left: 10px;
    margin-top: -5px;
    margin-right: 10px;
    float:left;
}

.toast-item-image-notice {
    background:url(../images/notice.png);
}

.toast-item-image-success {
    background:url(../images/success.png);
}

.toast-item-image-warning {
    background:url(../images/warning.png);
}

.toast-item-image-error {
    background:url(../images/error.png);
}


/**
 * toast types
 *
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    color: white;
}

.toast-type-success {
    color: white;
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
}

.toast-type-error {
    color: white;
    border-color: #B32B2B;
}

/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

div.pagination-container {
	margin-bottom: 10px;
	clear: both;
}

ul.pagination {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-right : 2px;
}

/*
.pagination .previous-off a,
.pagination .next-off a, 
.pagination .off a:link, 
.pagination .off a:visited {
	color: #888888;
	font-weight: bold;
}

.pagination .next a, .pagination .previous a, .pagination .first a, .pagination .last a {
	font-weight: bold;
	color: #00000;
}
*/
.pagination .active {
	background-color: #DEDEDE;
	font-weight : bold;
}

.pagination a:link, .pagination a:visited {
	display : block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.pagination a:hover {
	text-decoration: none;
}

#search span {
	color:#FF0033;
}

#thumb {
	height: 180px;
	margin: 0 auto auto auto;
	width: 100%;
	float: left;
	clear: both;
}

#thumb ul li {
	float: left;
	width: 150px;
	height: 150px;	
	padding-right: 15px;
	vertical-align: middle;
}

#thumb ul li img {
	width: 150px;
	height: 150px;
}

#thumb ul li div {
	text-align: center;
}

#original_container img {
	position:absolute;
	float:left;
	border:#ccc 1px solid;
	height:200px;
	width:120px;
}

#imageThumb {
	height: 90px;
	margin: 10 auto auto auto;
	width: 100%;
	float: left;
	clear: both;
}

#imageThumb ul li {
	float: left;
	width: 60px;
	height: 60px;	
	padding-right: 15px;
	vertical-align: middle;
}

#imageThumb ul li img {
	width: 60px;
	height: 60px;
}

#imageThumb ul li div {
	text-align: center;
}

.listbox {
	display:none;
	position:absolute;
	background-color: white;
	border: 1px solid black;
	z-index: 1000;
}

.listbox li {
	height: 18px;
	padding: 2px 2px 2px 2px;
	min-width: 138px;
	max-width: 500px;
}

.hover {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: grey;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	background-color: #DDECFE;
	border-color: #83AADA;
}

input.error { border: 1px solid red; }

textarea.error { border: 1px solid red; }
